<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Bss_Faq::Faq" title="FAQS" sortOrder="10">
                        <resource id="Bss_Faq::manage" title="Manage FAQs"/>
                        <resource id="Bss_Faq::manage_categories" title="Manage FAQ categories"/>
                    </resource>
            </resource>
        </resources>
    </acl>
</config>
