<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bss\Faq\Api\CategoryRepositoryInterface" type="Bss\Faq\Model\CategoryRepository" />
    <preference for="Bss\Faq\Api\Data\CategoryInterface" type="Bss\Faq\Model\Category" />
    <preference for="Bss\Faq\Api\Data\CategorySearchResultsInterface" type="Bss\Faq\Model\Category\CategorySearchResults" />

    <preference for="Bss\Faq\Api\FaqRepositoryInterface" type="Bss\Faq\Model\FaqRepository" />
    <preference for="Bss\Faq\Api\Data\FaqInterface" type="Bss\Faq\Model\Faq" />
    <preference for="Bss\Faq\Api\Data\FaqSearchResultsInterface" type="Bss\Faq\Model\Faq\FaqSearchResults" />

    <preference for="Bss\Faq\Api\FaqCategoryLinkRepositoryInterface" type="Bss\Faq\Model\FaqCategoryLinkRepository" />
    <preference for="Bss\Faq\Api\Data\FaqCategoryLinkInterface" type="Bss\Faq\Model\FaqCategoryLink" />
    <preference for="Bss\Faq\Api\Data\FaqCategoryLinkSearchResultsInterface" type="Bss\Faq\Model\FaqCategoryLink\FaqCategoryLinkSearchResults" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bss_faq_category_listing_data_source" xsi:type="string">
                    Bss\Faq\Model\ResourceModel\Category\Collection
                </item>
                <item name="bss_faq_faq_listing_data_source" xsi:type="string">
                    Bss\Faq\Model\ResourceModel\Faq\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bss\Faq\Model\ResourceModel\Category\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Bss\Faq\Model\ResourceModel\Faq\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_manage</argument>
        </arguments>
    </virtualType>
    <type name="Bss\Faq\Controller\Adminhtml\Faq\Save">
        <arguments>
            <argument name="authSession" xsi:type="object">Magento\Backend\Model\Auth\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Bss\Faq\Block\Detail\Detail">
        <arguments>
            <argument name="catalogSession" xsi:type="object">Magento\Catalog\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Bss\Faq\Controller\Detail\Feedback">
        <arguments>
            <argument name="catalogSession" xsi:type="object">Magento\Catalog\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
