<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_Faq::Faq"
             title="FAQs"
             module="Bss_Faq"
             sortOrder="51"
             resource="Bss_Faq::Faq"/>
        <add id="Bss_FAQ::manage"
             title="Manage FAQs"
             module="Bss_Faq"
             sortOrder="10"
             action="bss_faq/faq"
             resource="Bss_Faq::manage"
             parent="Bss_Faq::Faq"/>
        <add id="Bss_FAQ::manage_categories"
             title="Manage FAQ Categories"
             module="Bss_Faq"
             sortOrder="99"
             parent="Bss_Faq::Faq"
             action="bss_faq/category"
             resource="Bss_Faq::category"/>
    </menu>
</config>
